.nav {
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  font-size: 20px;
  padding-right: 20px;
}

.link:hover {
  color: #f4ce14;
}

.link:last-child {
  padding-right: 0;
}
