.nav {
  display: flex;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
    
}

.link {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  font-size: 20px;
  padding-right: 20px;
}

.link:hover {
  color: #f4ce14;
}

.list li:last-child .link {
  padding-right: 0;
}
