.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: rgb(229, 230, 223);
  padding: 60px 80px;
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.imgSection {
  display: flex;

  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

img {
  max-width: 450px;
  border-radius: 10px;
}
