.button {
  background-color: #495e57;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.primary{
  background-color: #495e57;
}

.primary:hover{
  background-color: #7b9c91;
  transition: background-color 0.3s ease;
}

.secondary{
  background-color: #f4ce14;
  color:    #2d3834;
}

.secondary:hover{
  background-color: #f8e68e;
  transition: background-color 0.3s ease;
}
