.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.specialItem {
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 230, 223);
  border-radius: 5px;
  width: 350px;
  min-height: 450px;
}
.specialItem:hover {

  transform: translateY(-5px);
  transition: all 0.3s ease;
  background-color: #5e5e497a;
}

.price {
  color: rgb(208, 23, 23);
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.link {
  margin-top: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  gap:4px;
  color: #495e57;
}
