.header{
    text-align: center;
    margin-bottom: 24px;
    color: #2d3834;
}

.testimonialsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
      flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 60px 80px;
  background-color: rgba(229, 230, 223, 0.288);

}

.buttonContainer{
    display: flex;
    justify-content: center;

}